<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://cm.sh.dl.baidupcs.com/file/251a7554c441c59801129a84570ab45c?bkt=p2-nj-559&fid=520725824-250528-683173896385034&time=1418284705&sign=FDTAXERLB-DCb740ccc5511e5e8fedcff06b081203-CNCpXrq%2BiJMLNoNn2aYHEhtHlls%3D&to=scp&fm=Nan,B,M,mn&newver=1&newfm=1&flow_ver=3&sl=81723464&expires=8h&rt=pr&r=833832588&mlogid=657821176&vuk=520725824&vbdid=3046027333&fin=Fee.ipa&fn=Fee.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ai.nbd</string>
				<key>bundle-version</key>
				<string>0.0.3</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>收入宝</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
